###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


# Ignore Composer's vendor directory
/vendor
#Ignore .env file
.env
#Ignore .env.local file
postgres-data/
